body{
}

.container-fluid{
    height:100%;
}

.container-fluid .row{
    height:100%;
}

.col-lg-10 {
    height: 100%;
}

.container-fluid .row .sidebar{
    background-color: #8a6d3b;
    height:100%;
}

.overview {
    height: 240px;
    font-size: 65px;
}

.overview-button{
    font-size: 15px;
    margin-left: 4px;
    float: left;
}

#isLosersBracket-tip.invisible{
    visibility: hidden;
}

.description{
    /*padding-top: 240px;*/
    /*top: 0;*/
    /*position: absolute;*/
    /*height:100%;*/
}

.current-players-view {
    height: 120px;
}

.current-players-view .title {
    font-size: 40px;
    float: left;
}

.current-players-view .ids-panel{
    overflow: hidden;
    height: 58px;
    overflow-wrap: normal;
}

.current-players-view .id-panel-elem{
    font-size: 45px;
    margin: 4px 0 0 6px;
}

.group-view {
    padding-top: 120px;
    top: 0;
    position: absolute;
    height:100%;
    width: 95%;
}

.group-view .group-elem {
    width: 100%;
    padding: 0 0 0 0;
    font-size: 72px;
    border: solid 1px;
    margin: 15px 0 30px 0;
}

.group-view .group-elem .status{
    color: white;
    display: none;
}

.group-view .group-elem.ing .status{
    color: white;
    display: block;
}

.group-view .group-elem.ing {
    background-color: #f0ad4e;
}

.group-view .group-elem.ready {
    background-color: #9d9d9d;
}

.group-view .group-elem.ready .status{
    color: white;
    display: block;
}

.group-view .id-group-elem {
    font-size: 59px;
    margin: 0 1px 0 1px;
    cursor: pointer;
}

.group-view .id-group-elem.win {
    background-color: red;
}